.fullscreen {
    height: 800px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        margin: 50px 0 0 50px;
        padding: 0 20px;
        display: inline-block;
        background: rgba(white, .7);
        font-size: 60px;
    }
}

.africa-1 {
    background-image: url(../img/africa/african-savannah.jpg);
}

.africa-2 {
    background-image: url(../img/africa/african-mountain.jpg);
}

.africa-3 {
    background-image: url(../img/africa/african-lion.jpg);
}

.africa-4 {
    background-image: url(../img/africa/african-plains.jpg);
}