/* Recipe and Recipe Index templates */
.Recipe {

    header {
        padding: 15px 10px;
        background: teal;
        color: #fff;
        text-align: center;

        h1 {
            padding: 0;
            color: #fff;
        }

        @media (min-width: 600px) {
            padding: 25px 15px;
        }
    }

    .recipe-list {
        margin: 0;
        padding: 0;
    }

    .sort-group {
        padding: 0 0 20px;

        label {
            display: block;
        }
    }

    .crumb,
    .category,
    .published {
        padding: 0 0 5px;
    }

    .image img {
        max-width: 100%;
        border: 2px solid #000;
    }

    .ingredients {
        margin-top: 20px;
    }

    .comments {
        padding: 15px 0;

        h3 {
            padding: 0;
        }
    }

    .instructions li {
        padding: 0 0 7px;
    }
}