@import "partials/flex";

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
}

h1 {
    font-family: 'Playfair Display SC';
    font-weight: 700;
    text-align: center;
    //text-transform: uppercase;
}

.pics {
    @include displayFlex(flex);
    @include flexWrap(wrap);
    @include flexAlignItems(center);

    .pic {
        padding: 30px;
        @media (min-width: 800px) {
            @include flexSize(0, 1, percentage(1/3));
        }
    
        img {
            max-width: 100%;
        }
    }
}