---
layout: default
title: Recipes
scripts: recipe.js
---

<div class="two-col">
    <div class="sidebar">
        <div class="sort">
            <label for="sortBy">Sort By:</label>
            <select name="sortBy" id="sortBy">
                <option value="All">Show All</option>
                <option value="Main Dish">Main Dish</option>
                <option value="Dessert">Dessert</option>
                <option value="Side Dish">Side Dish</option>
                <option value="Beverage">Beverage</option>
                <option value="Appetizer">Appetizer</option>
            </select>
        </div>
    </div>
    <div class="main-content">
        <ul id="RecipeList">
            {% for page in site.pages %}
                {% if page.layout == 'recipe' %}
                    <li data-category="{{ page.category }}"><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>