---
layout: default
title: Recipes
scripts: recipe.js
---

<div class="two-col">
    <div class="sidebar">
        <div class="sort">
            <div class="sort-group">
                <label for="sortByCategory">Sort by Category:</label>
                <select name="sortByCategory" id="sortByCategory">
                    <option value="All">Show All</option>
                    <option value="Appetizer">Appetizer</option>
                    <option value="Beverage">Beverage</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Main Dish">Main Dish</option>
                    <option value="Side Dish">Side Dish</option>
                </select>
            </div>
            <div class="sort-group">
                <label for="sortBySource">Sort by Source:</label>
                <select name="sortBySource" id="sortBySource">
                    <option value="All">Show All</option>
                    <option value="All Recipes">All Recipes</option>
                    <option value="Annie's Eats">Annie's Eats</option>
                    <option value="Ashley Hoard">Ashley Hoard</option>
                    <option value="A Teaspoon of Happiness">A Teaspoon of Happiness</option>
                    <option value="Beantown Baker">Beantown Baker</option>
                    <option value="Beyond Kimchee">Beyond Kimchee</option>
                    <option value="Bon Appetit">Bon Appetit</option>
                    <option value="Chimera Obscura">Chimera Obscura</option>
                    <option value="Gimme Some Oven">Gimme Some Oven</option>
                    <option value="Jo Cooks">Jo Cooks</option>
                    <option value="Making Life Better">Making Life Better</option>
                    <option value="Mama Loves Food">Mama Loves Food</option>
                    <option value="Mama Miss">Mama Miss</option>
                    <option value="Pinch of Yum">Pinch of Yum</option>
                    <option value="Real Simple">Real Simple</option>
                    <option value="Serious Eats">Serious Eats</option>
                    <option value="Simply Recipes">Simply Recipes</option>
                    <option value="Spicie Foodie">Spicie Foodie</option>
                    <option value="The Pioneer Woman">The Pioneer Woman</option>
                    <option value="Valerie Ferrin">Valerie Ferrin</option>
                    <option value="Weight Watchers">Weight Watchers</option>
                </select>
            </div>
        </div>
    </div>
    <div class="main-content">
        <ul id="RecipeList">
            {% for page in site.pages %}
                {% if page.layout == 'recipe' %}
                    <li data-category="{{ page.category }}" data-source="{{ page.source }}"><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>