body {
  background: white;
  color: black;
  padding: 50px 100px; }

table.highchart {
  display: none; }

.highchart-container-1,
.highchart-container-2,
.highchart-container-3 {
  margin-bottom: 100px; }
