/* Clearfix */
header {
  height: 450px;
  background: url(../img/africa/african-plains.jpg) no-repeat center;
  background-size: cover; }
  header .logo {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 32px;
    background: rgba(255, 255, 255, 0.5);
    color: #4b4347;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif; }
  header .logo img {
    display: block;
    margin: 0 auto; }

.tagline {
  padding: 20px 32px 25px;
  margin: 0 0 10px;
  background: #77686d;
  border-top: 6px solid #4b4347;
  box-shadow: 0px 12px 15px -4px rgba(0, 0, 0, 0.35);
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 300; }

.section {
  padding: 30px 32px 40px; }

.Portfolio .threeCol {
  margin: 0 -15px; }
  .Portfolio .threeCol:after {
    content: "";
    display: table;
    clear: both; }
  .Portfolio .threeCol .col {
    float: left;
    width: 33.33333%;
    padding: 0 15px;
    overflow: hidden; }
    .Portfolio .threeCol .col img {
      background: #a5b1b2;
      padding: 7px;
      max-width: 100%;
      -webkit-filter: grayscale(1);
      filter: grayscale(1); }
      .Portfolio .threeCol .col img:hover {
        -webkit-filter: none;
        filter: none; }

.Services {
  border-top: 1px solid #fad6cd;
  border-bottom: 1px solid #fad6cd;
  background: #fff0ec; }
  .Services .serviceList {
    margin: 0;
    padding: 20px 0;
    list-style: none;
    text-align: center; }
    .Services .serviceList:after {
      content: "";
      display: table;
      clear: both; }
    .Services .serviceList li {
      width: 25%;
      float: left;
      font-weight: 600;
      font-size: 18px; }

.AboutMe {
  background: url(../img/africa/african-savannah.jpg) no-repeat center;
  background-size: cover; }
  .AboutMe .transparent {
    width: 60%;
    margin-left: -32px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px; }

.ContactInfo:after {
  content: "";
  display: table;
  clear: both; }
.ContactInfo .profilePic {
  float: left;
  width: 150px;
  margin: 0 15px 15px 0;
  padding: 7px;
  background: #a5b1b2; }
