.resultTabs {
  margin: 30px 0 0; }
  .resultTabs .tab-group {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center; }
    .resultTabs .tab-group li {
      display: inline-block;
      margin: 0 15px; }
  .resultTabs .tab {
    display: block;
    padding: 7px 20px;
    background: white;
    color: #00b0d7;
    border-radius: 3px;
    font-weight: 400;
    font-size: 18px; }
    .resultTabs .tab:hover {
      color: #75d03a; }
    .resultTabs .tab[aria-selected=true] {
      color: white;
      background: #75d03a; }
  .resultTabs .tab-content {
    display: none; }
    .resultTabs .tab-content[aria-hidden=false] {
      display: block; }
    .resultTabs .tab-content .google-map {
      margin: 30px 0; }
    .resultTabs .tab-content iframe {
      max-width: 100%; }
  @media screen and (max-width: 799px) {
    .resultTabs .tab-group li {
      margin: 0 3px; }
    .resultTabs .tab {
      padding: 7px 10px; } }

.locationSearch {
  margin: 20px 0;
  background: #f3f3f3;
  padding: 1em; }
  .locationSearch label {
    font-size: 18px;
    font-weight: 400; }
  .locationSearch input[type="text"] {
    margin: 0 10px;
    height: 30px;
    border: 1px solid #ccc; }
  .locationSearch .search {
    padding: 7px 15px;
    background: #00b0d7;
    color: #fff;
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    border: 0; }
    .locationSearch .search:hover {
      opacity: .9; }
  .locationSearch .resetFilters {
    padding: 7px 15px;
    background: #808285;
    color: #fff;
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    border: 0; }
    .locationSearch .resetFilters:hover {
      opacity: .9; }
  @media screen and (max-width: 799px) {
    .locationSearch label,
    .locationSearch input[type="text"] {
      display: block; }
    .locationSearch label,
    .locationSearch input[type="text"],
    .locationSearch .search {
      margin: 0 0 10px; } }
  @media screen and (min-width: 800px) {
    .locationSearch .resetFilters {
      float: right; } }
