/* For flexbox parent - first value is usually the default */
/* For flexbox children */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}

h1 {
  font-family: 'Playfair Display SC';
  font-weight: 00;
  text-align: center;
}

.pics {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.pics .pic {
  padding: 30px;
  /* Definition of Terms:
      $grow = Number which determines how much the flex item will grow relative to the 
          rest of the flex items in the flex container when positive free space is distributed.
      $shrink = Number which determines how much the flex item will shrink relative to the 
          rest of the flex items in the flex container when negative free space is distributed.
      $basis = The initial width or height (depending on main axis) of the flex item, 
          before free space is distributed according to the flex factors.
  */
  -webkit-flex: 0 1 33.33333%;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
}
.pics .pic img {
  max-width: 100%;
}
