/* For flexbox parent - first value is usually the default */
/* For flexbox children */
/* Clearfix */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #fff;
  color: #000;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 1.57; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0 0 10px;
  font-weight: 400; }

h1 {
  font-size: 30px;
  font-weight: 300; }
  @media (min-width: 600px) {
    h1 {
      font-size: 40px; } }

p {
  margin: 0;
  padding: 0 0 15px; }

ul,
ol {
  margin-top: 0; }

header {
  padding: 15px 10px;
  background: teal;
  color: #fff;
  text-align: center; }
  header h1 {
    padding: 0; }
  @media (min-width: 600px) {
    header {
      padding: 25px 15px; } }

.Container {
  max-width: 960px;
  margin: 0 auto; }

.Hidden {
  display: none; }

.two-col {
  padding: 20px 10px;
  background: #efefef; }
  .two-col:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 600px) {
    .two-col {
      padding: 30px 35px; }
      .two-col .main-content {
        float: left;
        width: 66.66667%; }
      .two-col .sidebar {
        float: right;
        width: 33.33333%; } }

/* Summer 2014 template */
.pics {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .pics .pic {
    padding: 30px; }
    @media (min-width: 800px) {
      .pics .pic {
        /* Definition of Terms:
            $grow = Number which determines how much the flex item will grow relative to the 
                rest of the flex items in the flex container when positive free space is distributed.
            $shrink = Number which determines how much the flex item will shrink relative to the 
                rest of the flex items in the flex container when negative free space is distributed.
            $basis = The initial width or height (depending on main axis) of the flex item, 
                before free space is distributed according to the flex factors.
        */
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%; } }
    .pics .pic img {
      max-width: 100%; }
