// fonts
$lato: 'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;

// colors
$teal: #A5B1B2;
$dark-teal: #1D7880;
$chocolate: #4B4347;
$brown: #77686D;
$beige: #B2A29E;
$pink: #FFF0EC;
$dark-pink: #FAD6CD;

@import "mixins";
@import "arrows";
@import "flex";